article{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 5px;
}
article p{
    text-indent: 20px;
}

.info-user p{
    font-style: italic;
}

.tab-content {
    background-color: #fff;
}
